.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 800px;
}

.post-card {
  margin: 20px 50px;
}

.hashtag {
  margin: 0px 3px;
  cursor: pointer;
}

.reactions {
  margin: 15px 0 0 0;
  cursor: pointer;
}

.create-post {
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
  cursor: pointer;
}
.welcome-message {
  margin: 100px 0;
}
.spinner {
  margin: 10% 0;
}

/* Responsive styles */
@media only screen and (max-width: 1200px) {
  /* Adjustments for medium-sized devices */
  .post-card {
    margin: 20px 30px; /* Adjusted margin for medium-sized screens */
  }
}

@media only screen and (max-width: 992px) {
  /* Adjustments for small laptops and tablets */
  .create-post {
    width: 90%; /* Adjusted width for small laptops and tablets */
    margin-left: 5%; /* Adjusted margin for small laptops and tablets */
  }
}

@media only screen and (max-width: 768px) {
  /* Adjustments for tablets and large smartphones */
  .app-container {
    flex-direction: column;
  }

  .post-card {
    margin: 20px 10px; /* Adjusted margin for tablets and large smartphones */
  }

  .create-post {
    width: 90%; /* Adjusted width for tablets and large smartphones */
    margin-top: 20px; /* Adjusted margin for tablets and large smartphones */
    margin-left: 5%; /* Adjusted margin for tablets and large smartphones */
  }

  .sidebar {
    min-height: auto; /* Adjusted min-height for tablets and large smartphones */
  }

  .welcome-message {
    margin: 50px 0; /* Adjusted margin for tablets and large smartphones */
  }

  .spinner {
    margin: 5% 0; /* Adjusted margin for tablets and large smartphones */
  }
}

@media only screen and (max-width: 576px) {
  /* Adjustments for smartphones */
  .post-card {
    margin: 20px 5px; /* Adjusted margin for smartphones */
  }

  .create-post {
    width: 95%; /* Adjusted width for smartphones */
    margin-top: 10px; /* Adjusted margin for smartphones */
    margin-left: 2.5%; /* Adjusted margin for smartphones */
  }

  .welcome-message {
    margin: 30px 0; /* Adjusted margin for smartphones */
  }

  .spinner {
    margin: 3% 0; /* Adjusted margin for smartphones */
  }
}
