.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 800px;
}

.post-card {
  margin: 20px 50px;
}

.hashtag {
  margin: 0px 3px;
  cursor: pointer;
}

.reactions {
  margin: 15px 0 0 0;
  cursor: pointer;
}

.create-post {
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
  cursor: pointer;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  .app-container {
    flex-direction: column; /* Stack items vertically */
  }

  .post-card {
    width: calc(100% - 40px); /* Adjust width to fit container */
    margin: 10px; /* Reduce margin for smaller screens */
  }

  .create-post {
    width: 100%; /* Take full width */
    margin: 20px 0; /* Adjust margin */
  }

  .sidebar {
    min-height: auto; /* Allow sidebar to adjust height */
  }
}
